[submodule "posix-uefi"]
	path = posix-uefi
	url = https://gitlab.com/bztsrc/posix-uefi
[submodule "lightweight-aml-interpreter"]
	path = lightweight-aml-interpreter
	url = https://github.com/TheDarkBomber/lai-patched
